{
  "env": {
    "nostyle": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".scss"]
          }
        ]
      ]
    }
  }
}
